body{
    width: 1250px;
    margin: 0 auto;
    background-image: url(../img/new_background_1.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

/*Section Main*/

section#main{
    display: grid;
    grid-template-columns: 5fr 9fr;
    gap: 50px;
}